*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#0077cc;
    padding:15px 40px;
}

.navbar h2{
    color:white;
}

.navbar ul{
    list-style:none;
    display:flex;
}

.navbar ul li{
    margin-left:20px;
}

.navbar ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:white;
}

.hero h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    background:#0077cc;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

.features{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:50px 20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    text-align:center;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    color:#0077cc;
    margin-bottom:15px;
}

.card p{
    font-size:16px;
    line-height:1.6;
}

footer{
    background:#0077cc;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

@media(max-width:768px){
    .navbar{
        flex-direction:column;
    }

    .navbar ul{
        flex-direction:column;
        text-align:center;
        margin-top:10px;
    }

    .navbar ul li{
        margin:10px 0;
    }

    .hero h1{
        font-size:32px;
    }
}
